.most-popular-card {
  position: relative;
  width: 270px;
}

.most-popular-card__category-badge {
  position: absolute;
  top: 20px;
  left: 20px;
}

.most-popular-card__title {
  margin: 20px 0 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #171717;
}

.most-popular-card__subtitle {
  margin: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
}

.most-popular-card__cover {
  border-radius: 5px;
}